# Created by .ignore support plugin (hsz.mobi)
.env
.imp_env_vars
*.idea
*/cse_slack_bot/__pycache__/
*slack_bot/__pycache__
*slack_bot/migrations/__pycache__/
features/__pycache__/
bot_box/__pycache__/

