# Created by .ignore support plugin (hsz.mobi)
.env
*.idea
*/cse_slack_bot/__pycache__/
*slack_bot/__pycache__
*slack_bot/migrations/__pycache__/
features/__pycache__/
bot_box/__pycache__/
bot_box/features/__pycache__

